---
---

@import "{{ site.theme }}";

body{
  background-color:#F5ECD3;
color: #F25C11;
}
h1{
color:#F25C11;
font-weight:400;}

a{
color:#F25C11;
  text-decoration:underline;
    font-weight: bold;
}
